#pcgf_pmnamesuggestionlist.pcgf-hidden {
	display: none;
}

#pcgf_pmnamesuggestionlist {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(50, 50, 50);
	position: absolute;
	width: auto;
}

#pcgf_pmnamesuggestionlist > ul {
	display: inline-block;
	list-style: none;
}

#pcgf_pmnamesuggestionlist > ul > li {
	cursor: pointer;
	padding: 10px;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#pcgf_pmnamesuggestionlist > ul > li.selected {
	background-color: rgb(180, 180, 180) !important;
}

#pcgf_pmnamesuggestionlist > ul > li > img {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}